.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*
    Header CSS
 */
.header{
    box-sizing: border-box;
    height: 170px;
    max-height: 170px;
    padding: 50px 0;
}

.header .logo{

}

.header nav.main-menu{

}

.header nav.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.header nav.main-menu li{
    float: left;
}

.header nav.main-menu a{
    display: inline-block;
    padding: 10px 25px;
    color: #8d8d8d;
    font-size: 20px;
}

.header nav.main-menu i{
    font-size: 20px;
    color: #8d8d8d;
}

/*
    CSS Banner
 */

.banner{
    margin-top: -170px;
    height: 936px;
    width: 100%;
    background: url("../images/banner.jpg") top center;
    display: table;
}

.banner h1{
    font-size: 83px;
    color: #000000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.banner h1 span {
    color: #f66c27;
}

/*
    CSS Block1
 */

.block1{
    height: 510px;
}

.space1{
    height: 160px;
}

.img1{
    position:absolute;
    z-index: 1;
}

.img2{
    position:absolute;
    z-index: 2;
    margin-top: 280px;
    margin-left: 500px;
}

/*
    CSS Footer
 */

footer{
    background: linear-gradient(to left, #ffffff 50%, #F66C27 50%);
}

footer .contact-form{
    background: #f66c27;
    box-sizing: border-box;
    height: 700px;

}

.contact-form .content-form{
    background: #FFFFFF;
    padding: 60px;
    margin-top: 138px;
    margin-right: 100px;
}

.content-form input,textarea{
    border: none;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    font-size: 15px;
    color: #777777;
}

.first-row input{
    width: 40%;
}

.first-row::after{
    content: '';
    clear: both;
}

.first-row input[name="email"]{
    float: right;
}

.content-form input[type="text"]{
    padding: 5px;
}

.content-form input:focus, textarea:focus{
    outline: none;
}

.contact-form-row{
    margin-bottom: 20px;
}

.submit-row{
    text-align: center;
}



.contact-form input[type="submit"]{
    background: #f48146;
    color: #FFFFFF;
    display: inline-block;
    width: auto;
    padding: 6px 20px;
    border-radius: 32px;
    font-size: 18px;
}

footer .contact-info{
    box-sizing: border-box;
    height: 700px;
    padding-left: 100px;

}

.footer .contact-info h3{
    margin-top: 108px;
    font-size: 45px;
}

.line-contact-info{
    padding: 20px 0;
}

.line-contact-info h4{
    color: #333333;
    font-size: 25px;
}

.line-contact-info p{
    font-size: 15px;
    max-width: 250px;
}

.line-contact-info p span{
    color: #f48146;
    background: #FFFFFF;
}

footer .social-icon i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #bbbbbb;
    text-align: center;
    color: #FFFFFF;
    margin-right: 20px;
}

footer .social-icon i:hover{
    background: #f48146;
}
